/* --------------------------------------------------------
Style Sheet for ADF Leaflet

version: 1.3
-----------------------------------------------------------
CONTENTS:
~01 TYPOGRAPHY
~02 LINKS
~03 BUTTONS
~04 FORMS
~05 Popups/Windows 
  - General
  - Panelwindow
  - Dialog
~06 UTILITIES
 - Panels
 - Backgrounds
 - Utilities
 - Misc
 - Alert
 - Plus/Minus
------------------------------------------------------------*/

af|document,.af_document.p_AFMaximized
{
  background-color: #FEFEFE;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #716F67;
  background-repeat:repeat;
  height: 100%;
}

body  {
    font-family:  'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #716F67;
    background: #FEFEFE;
    background-image: none;
}

/* Basic Reset Items */
::-moz-selection { background: #00334E; color: #fff; text-shadow: none; }
::selection { background: #00334E; color: #fff; text-shadow: none; }
svg:not(:root) { overflow: hidden; }

/*--------------------------------------------
//                                          //
//   ~01 TYPOGRAPHY                         //
//                                          //
--------------------------------------------*/

.AFDefaultFont:alias{
    font-family:  'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-top: 0px;
    padding-top: 0px;
    color: #716F67;
    font-style: normal;
}

/* OutputText */
af|outputFormatted, af|outputText, af|panelLabelAndMessage::label, af|activeOutputText {
    font-size: 14px;
    color: #716F67;
}

af|outputLabel, af|panelFormLayout::label-cell, af|panelFormLayout::label-stacked-cell{
    font-size: 14px;
    color: #565655;
    font-weight:bold;
}

/* Generic Color Classes */
.justColors  {
  font-size: 20px;
  font-weight: bold;
}

.txt-blue  {
  color: #1a4a7a;
}

.txt-lighter-blue  {
  color: #1a4a7a;
}

.txt-drk-gray  {
  color: #2e2e2e;
}

.txt-lt-gray  {
  color: #969696;
}

.txt-black  {
  color: #000;
}

.txt-red  {
  color: #c70000 ;
}
.txt-green  {
  color: #6ca625;
}
/* New Text Classes */
.page-heading,
.page-heading-underline,
.page-subheading,
.page-heading-process,
.page-subheading-process,
.txt-30,
.txt-28,
.txt-22  {
  color: #034564;
}

.txt-general-copy  {
  color: #3c3a37;
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 15px;
}

.page-heading  {
  margin-bottom: 20px;
  display: block;
  color: #1a4a7a;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 28px;
}

.page-heading  {
  color: #1a4a7a;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 28px;
}

.page-subheading  {
  color: #1a4a7a;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.process-time  {
  color: #063C5B;
  font-size: 18px;
}

.txt-28 {
  font-size: 28px;
}

.txt-22 {
  font-size: 22px;
}

.txt-12  {
  font-size: 12px;
}

.txt-16  {
  font-size: 16px;
}

.bold  {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.italic  {
  font-style: italic;
}



/*--------------------------------------------
//                                          //
//   ~02 LINKS                               //
//                                          //
--------------------------------------------*/

a, af|goLink, af:commandLink,.btn-help,.btn-help:visited,
a:visited, af|goLink:visited, af:commandLink:visited,
.btn-help:visited  {
    color: #00A5E3;
    text-decoration: underline;
    cursor: pointer;
}

a:hover, af|goLink:hover,af:commandLink:hover,
af:commandLink:active,btn-help:active,
.btn-help:hover  {
    color: #00A5E3;
    cursor: pointer;
}

af|goLink, af:commandLink:hover  {
    font-size: 12px;
    text-decoration:underline;
    cursor: pointer;
}

.btn-help {
  font-size: 12px; 
}

.no-underline  {
  text-decoration: none;
}

.sectionBorder {
border-bottom: 1px solid #A7A7A7;
margin: 20px 0;
}

/*--------------------------------------------
//                                          //
//   ~03 BUTTONS                            //
//                                          //
--------------------------------------------*/

/* Secondary(our Default) Action Buttons E.g. Back, Cancel, Next, View Plans etc */
.af_commandButton.p_AFTextOnly, .af_dialog_footer-button.p_AFTextOnly  {
  position: relative;
  margin: 5px 0;
  padding: 7px 15px;
  border: #DEDDDD 1px solid;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: -moz-linear-gradient(top,  #F9F9F9 0%, #EDEBE9 100%);
  background: linear-gradient(to bottom,  #F9F9F9 0%,#EDEBE9 100%);
  color: #666;
  text-align: center;
  text-decoration: none; 
  text-transform: uppercase;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.af_dialog_footer-button  {
    margin-left: 3px;
}

@agent webkit {
  .af_commandButton.p_AFTextOnly,
  .af_dialog_footer-button.p_AFTextOnly  {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ececea));
    background: -webkit-linear-gradient(top,  #F9F9F9 0%,#EDEBE9 100%);
  }
}

@agent ie {
  .af_commandButton.p_AFTextOnly,
  .af_dialog_footer-button.p_AFTextOnly  {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#EDEBE9')";
 }
}

@agent ie and (version: 7)  {
  .af_commandButton.p_AFTextOnly,
  .af_dialog_footer-button.p_AFTextOnly {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#F9F9F9', EndColorStr='#EDEBE9');
 }
}

.af_dialog_footer-button,
.af_dialog_footer-button:hover,
.af_dialog_footer-button.:active
.af_commandButton.p_AFTextOnly,
.af_commandButton.p_AFTextOnly:hover,
.af_commandButton.p_AFTextOnly:active  {
  background: #f8f8f8;
  text-align: center;
  text-transform: uppercase;
}

.af_dialog_footer-button:hover,.af_dialog_footer-button:hover  {
    margin-left: 3px;
}

@agent ie and (version: 8) {
    .af_commandButton.p_AFTextOnly,
    .af_commandButton.p_AFTextOnly:hover,
    .af_commandButton.p_AFTextOnly:active  {
        letter-spacing: normal;
    }
}

af|commandButton,
af|commandButton:text-only,
.af_dialog_footer-button  {
  position: relative;
  margin: 5px 0;
  padding: 7px 15px;
  border: #DEDDDD 1px solid;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #666;
  text-align: center;
  text-decoration: none; 
  text-transform: uppercase;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  cursor: pointer;
}

af|commandButton:hover,
af|commandButton:text-only:hover,
af|commandButton.btn-people:hover,
.af_dialog_footer-button.p_AFTextOnly:hover   {
  margin: 5px 0;
  padding: 7px 15px;
  border: 1px solid #DEDDDD;
  background: #F9F9F9;
  background: -moz-linear-gradient(to bottom,  #EDEBE9 0%,#F9F9F9 100%);
  background: linear-gradient(to bottom,  #EDEBE9 0%,#F9F9F9 100%);
  color: #666;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

@agent webkit {
  af|commandButton:hover,
  af|commandButton:text-only:hover,
  af|commandButton.btn-people:hover,
  .af_dialog_footer-button.p_AFTextOnly:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#cecece));
    background: -webkit-linear-gradient(top,  #EDEBE9 0%,#F9F9F9 100%);
  }
}

@agent ie {
  af|commandButton:hover,
  af|commandButton:text-only:hover,
  af|commandButton.btn-people:hover,
  .af_dialog_footer-button:hover  {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEBE9', endColorstr='#F9F9F9')";
 }
}

@agent ie and (version: 7)  {
    af|commandButton:hover,
  af|commandButton:text-only:hover,
  af|commandButton.btn-people:hover,
  .af_dialog_footer-button.p_AFTextOnly:hover {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#EDEBE9', EndColorStr='#F9F9F9');
 }
}

af|commandButton:active,
af|commandButton:text-only:active,
.af_dialog_footer-button.p_AFTextOnly:active  {
  margin: 5px 0;
  padding: 7px 15px;
  border: 1px solid #DEDDDD;
  background: #F9F9F9;
  background: -moz-linear-gradient(to bottom,  #EDEBE9 0%,#F9F9F9 100%);
  background: linear-gradient(to bottom,  #EDEBE9 0%,#F9F9F9 100%);
  color: #666;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.af_dialog_footer-button.p_AFTextOnly:active  {
  margin-left: 3px;
}

@agent webkit {
  af|commandButton:active,
  af|commandButton:text-only:active,
  .af_dialog_footer-button.p_AFTextOnly:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEBE9), color-stop(100%,#F9F9F9));
    background: -webkit-linear-gradient(top,  #EDEBE9 0%,#F9F9F9 100%);
  }
}

@agent ie {
  af|commandButton:active,
  af|commandButton:text-only:active,
  .af_dialog_footer-button.p_AFTextOnly:active {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEBE9', endColorstr='#F9F9F9')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton:active,
  af|commandButton:text-only:active,
  .af_dialog_footer-button.p_AFTextOnly:active {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#EDEBE9', EndColorStr='#F9F9F9');
 }
}

af|commandButton:focus,
af|commandButton:text-only:focus,
af|commandButton::icon-style:focus 
 {
  outline: 0;
  text-transform: uppercase;
}

af|commandButton:disabled,
af|commandButton:text-only:disabled,
af|commandButton:disabled:hover,
af|commandButton:text-only:disabled:hover,
.af_dialog_footer-button.p_AFTextOnly:disabled,
.af_dialog_footer-button.p_AFTextOnly:disabled:hover  {
  display: inline-block;
  margin: 5px 0;
  border: 1px solid #DEDDDD;
  border: #DEDDDD 1px solid;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: #e6e6e6;
  color: #666;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.65;
  cursor: default;
  *display: inline;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.af_dialog_footer-button  {
  height: 32px;
}

.af_dialog_footer-button.p_AFTextOnly:hover  {
  margin-left: 3px;
}

af|commandButton.btn-green-start {
  font-size: 14px;
  color: #fff;
  width: 194px;
  height: 38px;
  text-shadow: 1px 1px 2px #0e3042;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #c8c8c8;
  border: solid 1px #559b1e;
  background: -moz-linear-gradient(top, #7fd938 1%, #41860b);
  background: linear-gradient(to bottom, #7fd938 1%, #41860b);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

@agent webkit {
  af|commandButton.btn-green-start {
    background: -webkit-linear-gradient(top, #7fd938 1%, #41860b);
  }
}

@agent ie {
  af|commandButton.btn-green-start {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fd938', endColorstr='#41860b')";
 }
}

@agent ie and (version: 8) {
    af|commandButton.btn-green-start,
    af|commandButton.btn-green-start:active,
    af|commandButton.btn-green-start:hover,
    af|commandButton.btn-green-start:disabled,
    af|commandButton.btn-green-start:disabled:hover {
        padding-left: 30px;
    }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-green-start {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7fd938', EndColorStr='#41860b');
 }
}

af|commandButton.btn-green-start:hover,
af|commandButton.btn-green-start:disabled,
af|commandButton.btn-green-start:disabled:hover {
  font-size: 14px;
  color: #fff;
  width: 194px;
  height: 38px;
  text-shadow: 1px 1px 2px #0e3042;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #c8c8c8;
  border: solid 1px #559b1e;
  background: -moz-linear-gradient(top, #41860b 1%, #7fd938);
  background: linear-gradient(to bottom, #41860b 1%, #7fd938);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

@agent webkit {
  af|commandButton.btn-green-start:hover,
  af|commandButton.btn-green-start:disabled,
  af|commandButton.btn-green-start:disabled:hover {
    background: -webkit-linear-gradient(top, #41860b 1%, #7fd938);
  }
}

@agent ie {
  af|commandButton.btn-green-start:hover,
  af|commandButton.btn-green-start:disabled,
  af|commandButton.btn-green-start:disabled:hover {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#41860b', endColorstr='#7fd938')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-green-start:hover,
  af|commandButton.btn-green-start:disabled,
  af|commandButton.btn-green-start:disabled:hover {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#41860b', EndColorStr='#7fd938');
 }
}



@agent ie and (version: 8) {
    letter-spacing: normal;
}

af|commandButton.btn-browse  {
  width: 84px;
}
af|commandButton.btn-ind-plans  {
  width: 103px;
}
af|commandButton.btn-ind-eligible  {
  width: 165px;
}
af|commandButton.btn-ind-more  {
  width: 135px;
}

af|commandButton.btn-blue-back  {
  width: 98px;
}

af|commandButton.btn-agent  {
  width: 98px;
}

af|commandButton.btn-rates,
af|commandButton.btn-norates  {
  width: 176px;
}
af|commandButton.btn-rates,
af|commandButton.btn-norates,
af|commandButton.btn-agent,
af|commandButton.btn-rates:hover,
af|commandButton.btn-norates:hover,
af|commandButton.btn-agent:hover,
af|commandButton.btn-rates:disabled,
af|commandButton.btn-norates:disabled,
af|commandButton.btn-agent:disabled,
af|commandButton.btn-rates:disabled:hover,
af|commandButton.btn-norates:disabled:hover,
af|commandButton.btn-agent:disabled:hover
  {
  font-size: 8.95px;
}
/* ------------------------------- */

af|commandButton.btn-login  {
  border: 1px solid #cfcece;
  width: 177px;
  height: 31px;
  color: #9d9d9d;
  font-family: 'Avenir_Black', Arial, sans-serif;
  font-size: 14px;
  background: #EDEDED;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0px #fff;
  background: -moz-linear-gradient(top,  #ededed 0%, #dbdbdb 99%);
  background: linear-gradient(to bottom,  #ededed 0%,#dbdbdb 99%);
  margin-bottom: 35px;
}

@agent webkit {
   af|commandButton.btn-login  {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(99%,#dcdcdc));
    background: -webkit-linear-gradient(top,  #ededed 0%,#dbdbdb 99%);
   }
}

af|commandButton.btn-login:hover,
af|commandButton.btn-login:disabled,
af|commandButton.btn-login:disabled:hover  {
  border: 1px solid #cfcece;
  width: 177px;
  height: 31px;
  color: #9d9d9d;
  font-family: 'Avenir_Black', Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  background: #ededed;
  text-shadow: 1px 1px 0px #fff;
  background: -moz-linear-gradient(top,  #dbdbdb 0%, #ededed 99%);
  background: linear-gradient(to bottom,  #dbdbdb 0%, #ededed 99%);
  margin-bottom: 35px;
}

@agent webkit {
   af|commandButton.btn-login:hover,
  af|commandButton.btn-login:disabled,
  af|commandButton.btn-login:disabled:hover  {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcdcdc), color-stop(99%,#ededed));
    background: -webkit-linear-gradient(top,  #dbdbdb 0%,#ededed 99%);
   }
}
/* End Landing Pages Buttons */
/* Tabbed Buttons */
af|commandButton.btn-tabbed  {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #7cc6ff;
  border: solid 1px #DEDDDD;
  font-family: 'Avenir_Black',Arial, sans-serif;
  font-size: 12px;
  padding: 0 15px;
  color: #666;
  background: -moz-linear-gradient(bottom, #edebe9, #f9f9f9);
  background: linear-gradient(to top, #edebe9, #f9f9f9);
   height: 36px;
}

@agent webkit  {
  af|commandButton.btn-tabbed  {
    background: -webkit-linear-gradient(bottom, #edebe9, #f9f9f9);
  }
}

@agent ie {
   af|commandButton.btn-tabbed {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#edebe9')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-tabbed {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#f9f9f9', EndColorStr='#edebe9');
 }
}

af|commandButton.btn-tabbed:hover,
af|commandButton.btn-tabbed:disabled,
af|commandButton.btn-tabbed:disabled:hover  {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 0 15px;
  background-color: #7cc6ff;
  border: solid 1px #DEDDDD;
  font-family: 'Avenir_Black',Arial, sans-serif;
  font-size: 12px;
  color: #666;
  background: -moz-linear-gradient(bottom, #f9f9f9, #edebe9);
  background: linear-gradient(to top, #f9f9f9, #edebe9);
  margin: 5px 0;
  height: 36px;
}

@agent webkit  {
  af|commandButton.btn-tabbed:hover,
  af|commandButton.btn-tabbed:disabled,
  af|commandButton.btn-tabbed:disabled:hover {
    background: -webkit-linear-gradient(bottom, #f9f9f9, #edebe9);
  }
}

@agent ie {
   af|commandButton.btn-tabbed:hover,
  af|commandButton.btn-tabbed:disabled,
  af|commandButton.btn-tabbed:disabled:hover {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#edebe9', endColorstr='#f9f9f9')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-tabbed:hover,
  af|commandButton.btn-tabbed:disabled,
  af|commandButton.btn-tabbed:disabled:hover {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#edebe9', EndColorStr='#f9f9f9');
 }
}

af|commandButton.btn-tabbed::icon-style  {
  margin-right: 6px;
}

/* end tab buttons */

af|commandButton.btn-green-default  {
  width: 118px;
}

/* Utility Buttons E.g. SortBy, Clear filters etc. */
af|commandButton.btn-utility  {
  color: #00324d;
  border: 1px solid #cfcece;
  background: #f9f9f9;
  font-family: 'Avenir_Black', Arial, sans-serif;
  background: -moz-linear-gradient(#f9f9f9, #e3e1e0);
  background: linear-gradient(#f9f9f9, #e3e1e0);
  text-decoration: none;
}

@agent webkit {
   af|commandButton.btn-utility  {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f9f9f9), to(#e3e1e0));
    background: -webkit-linear-gradient(#f9f9f9, #e3e1e0);
  }
}

@agent ie {
  af|commandButton.btn-utility {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e3e1e0')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-utility {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#f9f9f9', EndColorStr='#e3e1e0');
 }
}

af|commandButton.btn-utility:hover  {
  color: #00324d;
  text-decoration: none; 
}

/* Primary Action Buttons (Color ~ Green) E.g. Get Started, Compare, Start an Application etc. */

af|commandButton.btn-primary,
af|commandButton.btn-primary:hover,
af|commandButton.btn-primary:active {
    text-shadow: 1px 1px 1px #000;
    border: 1px solid #559b1e;
    background: #7BC93D;
    color: #fff;
    font-family: 'Avenir_Black', Arial, sans-serif;
    background: -moz-linear-gradient(#7BC93D, #559b1e);
    background: linear-gradient(#7BC93D, #559b1e);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
}

@agent webkit {
  af|commandButton.btn-primary {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#7BC93D), to(#559b1e));
    background: -webkit-linear-gradient(#7BC93D, #559b1e);
  }
}

@agent ie {
  af|commandButton.btn-primary {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7BC93D', endColorstr='#559b1e')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-primary {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7BC93D', EndColorStr='#559b1e');
 }
}

af|commandButton.btn-primary:hover  {
    background: -moz-linear-gradient(#559b1e, #7BC93D);
    background: linear-gradient(#559b1e, #7BC93D);
}

@agent webkit {
  af|commandButton.btn-primary:hover {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#559b1e), to(#7BC93D));
    background: -webkit-linear-gradient(#559b1e, #7BC93D);
  }
}

@agent ie {
  af|commandButton.btn-primary:hover; {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#559b1e', endColorstr='#7BC93D')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-primary:hover; {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#559b1e', EndColorStr='#7BC93D');
 }
}

af|commandButton.btn-primary:disabled,
af|commandButton.btn-primary:disabled:hover {
  font-size: 12px;
  color: #fff;
  font-family: 'Avenir_Black', Arial, sans-serif;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #7BC93D;
  border: solid 1px #559b1e;
  background: -moz-linear-gradient(#559b1e, #7BC93D);
  background: linear-gradient(to bottom, #559b1e 1%, #7BC93D);
}

@agent webkit {
  af|commandButton.btn-primary:hover,
  af|commandButton.btn-primary:disabled,
  af|commandButton.btn-primary:disabled:hover {
    background: -webkit-linear-gradient(top, #559b1e 1%, #7fd938);
  }
}

@agent ie {
  af|commandButton.btn-primary:hover,
  af|commandButton.btn-primary:disabled,
  af|commandButton.btn-primary:disabled:hover {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#559b1e', endColorstr='#7fd938')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-primary:hover,
  af|commandButton.btn-primary:disabled,
  af|commandButton.btn-primary:disabled:hover {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#559b1e', EndColorStr='#7fd938');
 }
}


af|commandButton.btn-primary-start,
af|commandButton.btn-primary-start:hover,
af|commandButton.btn-primary-start:disabled,
af|commandButton.btn-primary-start:disabled:hover {
  font-size: 18px;
  font-weight: normal;
}

/* Help/Support Buttons (Color ~ Blue) E.g. Find an Agent, Browse etc. */
af|commandButton.btn-support  {
  border: 1px solid #001247;
  background: #1c9ccc;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 7px 15px;
  font-family: 'Avenir_Black', Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  margin: 5px 0;
  background: -moz-linear-gradient(#1c9ccc, #093750);
  background: linear-gradient(#1c9ccc, #093750);
  text-shadow: 1px 1px 1px #000;
}

@agent webkit {
   af|commandButton.btn-support  {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#1c9ccc), to(#093750));
    background: -webkit-linear-gradient(#1c9ccc, #093750);
   }
}

@agent ie {
   af|commandButton.btn-support {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c9ccc', endColorstr='#093750')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-support {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#1c9ccc', EndColorStr='#093750');
 }
}

af|commandButton.btn-support:hover,
   af|commandButton.btn-support:disabled,
   af|commandButton.btn-support:disabled:hover  {
  border: 1px solid #001247;
  background: #1c9ccc;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 7px 15px;
  font-family: 'Avenir_Black', Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  margin: 5px 0;
  background: -moz-linear-gradient(#093750, #1c9ccc);
  background: linear-gradient(#093750, #1c9ccc);
  text-shadow: 1px 1px 1px #000;
}

@agent webkit {
   af|commandButton.btn-support:hover,
   af|commandButton.btn-support:disabled,
   af|commandButton.btn-support:disabled:hover   {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#093750), to(#1c9ccc));
    background: -webkit-linear-gradient(#093750, #1c9ccc);
   }
}

@agent ie {
   af|commandButton.btn-support:hover,
   af|commandButton.btn-support:disabled,
   af|commandButton.btn-support:disabled:hover {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#093750', endColorstr='#1c9ccc')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-support {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#1c9ccc', EndColorStr='#093750');
 }
}

/* Misc Button Widths  */
af|commandButton.btn-w217  {
  width: 217px;
}

af|commandButton.btn-w157  {
  width: 157px;
}

af|commandButton.btn-w257  {
  width: 257px;
}
/* Red/Green Plus/Minus Buttons */
af|commandButton.plus-green, af|commandButton.minus-red  {
  overflow: hidden;
  padding: 0;
  width: 16px;
  height: 17px;
  border: 1px solid;
  border: none;
  border-radius: none;
  background: url('/img/master-sprite.png') no-repeat;
  text-indent: -999999px;
}

af|commandButton.plus-green  {
  background-position: -16px 0;
}

af|commandButton.minus-red  {
  background-position: 0 0;
}

af|commandButton.plus-green:hover,
af|commandButton.plus-green:disabled,
af|commandButton.plus-green:disabled:hover,
af|commandButton.minus-red:hover,
af|commandButton.minus-red:disabled,
af|commandButton.minus-red:disabled:hover  {
  overflow: hidden;
  padding: 0;
  width: 16px;
  height: 17px;
  border: 1px solid;
  border: none;
  border-radius: none;
  background: url('/img/master-sprite.png') no-repeat;
  text-indent: -999999px;
}

af|commandButton.plus-green:hover,
af|commandButton.plus-green:disabled:hover  {
  background-position: -16px -18px;
}

af|commandButton.minus-red:hover  {
  background-position: 0 -18px;
}

af|commandButton.plus-green:active  {
  background-position: -16px -36px;
}

af|commandButton.minus-red:active  {
  background-position: 0 -36px;
}

/* Help Panel Chat */

af|commandButton.btn-chat, af|commandButton.btn-chat:hover  {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #7cc6ff;
  border: solid 1px #666;
  font-family: 'Avenir_Light',Arial, sans-serif;
  font-size: 10px;
  padding: 4px; 
  color: #000;
  background: -moz-linear-gradient(bottom, #edebe9, #f9f9f9);
  background: linear-gradient(to top, #edebe9, #f9f9f9);
  font-weight: normal;
  text-transform: none;
  width: 73px;
  margin: 8px;
}

/*--------------------------------------------
//                                          //
//   ~04 FORMS                              //
//                                          //
--------------------------------------------*/

/* General */
input:focus {
    outline: none;
}
:focus {
  outline: 0;
}
input::-moz-focus-inner { border: 0; }
select::-moz-focus-inner { border: 0; }

af|inputText::label{
    font-size: 12px;
    color: #3c3a37;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

af|inputText::content, af|inputDate::content  {

        border: 1px solid #ccc;
	border-radius: 3px;
	font-family: inherit;
	padding: 6px;
	padding: 0.428571429rem;
        overflow: hidden;
        background: #ffffff;
        color: #a8a8a8;
        background-image: none;
}



af|selectOneChoice.fld-error {
  border: 2px solid #c70000;
  background-color: #fff;
}

/* Date Input */
af|inputDate::label {
    color: #565655;
    font-weight: bold;
    padding-top: 4px;
    font-family:  Arial, sans-serif;
    font-size: 13px;
}

af|inputDate::launch-icon-style {
    margin-left: -30px;
    height: 20px;
    width: 18px;
    background-image: url('/img/icons/icn-cal.gif');
    position: relative;
    top: 3px;
    z-index: 10;
    opacity: .8;
    filter:alpha(opacity=80);
}

af|inputDate:hover::launch-icon-style{
    background-image: url('/img/icons/icn-cal-hover.gif');
    opacity:1;
    filter:alpha(opacity=100);
}

/* Read Only */
af|inputText:read-only::content  {
  background-image: none;
  background: transparent;
  color: #2e2e2e;
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 13px;
  font-weight: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}

.af_inputText.fld-readonly af|inputText::content  {
  padding: 6px 10px;
  color: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: transparent;
  font-size: 14px;
  font-weight: normal;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.af_inputText.txt-privacy-policy:read-only textarea {
  padding: 12px;
  border: 1px solid #ccc;
  resize: none;
  background: #fff;
  color: #716F67;
  background-image: none;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  overflow-y: scroll;
}

/* --------------------------- */

/* File Input */
af|inputFile::content{
    background: #fff;
    width: 200px;
    padding: 5px;
}

/* Radio Button */
af|selectBooleanRadio::label, af|selectBooleanRadio::item-text{
    font-size: 13px;
    color: #716F67;
    vertical-align: middle;
}

af|selectBooleanRadio::item-text{
    position:relative;
    top:4px;
}

af|selectOneRadio::item-text, af|selectOneRadio::label{
    font-size: 13px;
    color: #716F67;
    vertical-align: middle;
}

af|selectOneRadio::item-text{
    position:relative;
    top: 3px;
}

@agent ie  {
   af|selectOneRadio::item-text{
    line-height: 21px;
  } 
}

af|selectOneRadio::content div  {
    float: left;
    margin-right: 10px;
    display: inline-block;
}

.af_selectOneRadio_native-input,.af_selectOneRadio_native-input,
.af_selectBooleanRadio_native-input,.af_selectBooleanRadio_native-input{
    margin: 0;
    padding: 0;
}
/*checkbox*/
af|selectBooleanCheckbox::label, af|selectBooleanCheckbox::item-text{
    font-size: 14px;
    color: #1A4A7A;
    vertical-align: middle;
}

af|selectBooleanCheckbox::item-text{
    position:relative;
    top: 2px;
}

.filter-check-small af|selectManyCheckbox::item-text  {
  background: red;
}


@agent ie {

  af|selectOneRadio::item-text {
    top: 0;
  } 

  af|selectBooleanCheckbox::label, af|selectBooleanCheckbox::item-text  {
      font-size: 13px;
      color: #716F67;
      vertical-align: middle;
  }
  
}/* End @agent ie */

/*Select One Drop Down*/
af|selectOneChoice  {
  overflow: hidden;
  width: 267px;
   background: url('/img/icons/icn-selector-arrow.png') no-repeat scroll 245px 8px #edeeef;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #fbfbfb;
  margin: 2px 10px 0 0;
  background-color: #edeeef;
  color: #034564;
  margin-right: 10px;
} 

af|selectOneChoice::content  {
  border: 0;
  color: #034564;
  background: transparent;
  font-size: 12px;
  font-weight: bold; 
  height: 25px;
  padding: 2px 5px; 
  *background: transparent; 
  -webkit-appearance: none;
}

af|selectOneChoice.largeField  {
  background-position: 670px 8px;
  width: 680px;
}

af|selectOneChoice.largeField af|selectOneChoice::content {
  width: 680px;
}

af|selectOneChoice.mediumField   {
  background-position: 22px 8px;
  width: 32px;
}

af|selectOneChoice.mediumField af|selectOneChoice::content  {
    width: 32px;
}

af|selectOneChoice.smallField  {
  background-position: 120px 8px;
  width: 130px;
}

af|selectOneChoice.smallField af|selectOneChoice::content  {
    width: 130px;
}

af|selectOneChoice.smallerField  {
  background-position: 35px 8px;
  width: 45px;
}

af|selectOneChoice.smallerField af|selectOneChoice::content {
    width: 45px;
}

af|selectOneChoice.fld-small  {
  background-position: 120px 8px;
  width: 130px;    
}

af|selectOneChoice.fld-small af|selectOneChoice::content {
    width: 130px;    
}

af|selectOneChoice.fld-selectSmall {
  background-position: 234px 8px; 
  width: 244px; 
}

af|selectOneChoice.fld-selectSmall af|selectOneChoice::content {
  width: 244px; 
}

af|selectOneChoice.lang-select {
  background-position: 170px 8px;
  margin: 2px 10px 0 0;  
  width: 180px; 
}

af|selectOneChoice.lang-select af|selectOneChoice::content {
  width: 180px; 
}

af|selectOneChoice.resourceSearchSelect {
  background-position: 160px 8px;
  margin: 2px 10px 0 0;  
  width: 170px; 
}

af|selectOneChoice.resourceSearchSelect af|selectOneChoice::content {
  width: 170px; 
}

/*--------------------------------------------
//                                          //
//   ~05 POPUPS/WINDOWS                     //
//                                          //
--------------------------------------------*/

/* ~~~~~~ BEGIN GENERAL POPUP ~~~~~~~~~~~~~~~~~~~~~ */

af|popup::header-start:core:default,
af|popup::header-center:core:default,
af|popup::header-end:core:default,
af|popup::center:core:default,
af|popup::footer-start:core:default,
af|popup::footer-center:core:default,
af|popup::footer-end:core:default,
af|popup::header-start,
af|popup::footer-end  {
  background-image:none;
  outline:none;
  padding: 0;
  width: 0;
}

.AFPopupSelector {
  background-color: transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  outline: none;
}

.AFPopupSelectorContent  {
  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%);
  background: linear-gradient(#ffffff 0%, #e6e6e6 100%);
}

@agent webkit  {
.AFPopupSelectorContent  {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 100%);
  }
}

@agent ie {
  .AFPopupSelectorContent  {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6')";
 }
}

@agent ie and (version: 7)  {
  .AFPopupSelectorContent  {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e6e6e6');
 }
}

.AFPopupSelectorBorderCellEdge:alias {
  -webkit-box-shadow: none;
  outline: none;
  background-color: transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: none;
}

.AFPopupSelectorFooter,.AFPopupSelectorFooterStart,
.AFPopupSelectorFooterEnd,.AFPopupSelectorBorderCellCorner {
  background: #e6e6e6;
}

.AFPopupSelectorBorderCellEdge:alias,.AFPopupSelector  {
  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%);
  background: linear-gradient(#ffffff 0%, #e6e6e6 100%);
}

@agent webkit {
   .AFPopupSelectorBorderCellEdge:alias,.AFPopupSelector  {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 100%);
   }
}

@agent ie {
  .AFPopupSelectorBorderCellEdge:alias,.AFPopupSelector  {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6')";
   }
}

@agent ie and (version: 7)  {
  .AFPopupSelectorBorderCellEdge:alias,.AFPopupSelector  {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e6e6e6');
 }
}

.general-popup-wrap,.filter-popup-wrap   {
  min-width: 400px !important;
}

.AFModalGlassPane  {
  background-color: none;
}

.af_dialog_close-icon-style  {
    
}

/* ~~~~~~ END GENERAL POPUP ~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~ BEGIN DIALOG POPUP ~~~~~~~~~~~~~~~~~~~~~ */

af|dialog::main  {
  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%);
  background: linear-gradient(#ffffff 0%, #e6e6e6 100%);
 }

@agent webkit {
   af|dialog::main  {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 100%);
   }
}

@agent ie {
  af|dialog::main  {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6')";
 }
}

@agent ie and (version: 7)  {
  af|dialog::main  {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e6e6e6');
 }
}

af|dialog::header-start,af|dialog::header,
af|dialog::header-end,af|dialog::footer-start,
af|dialog::footer,af|dialog::footer-end,
af|dialog::content-start,af|dialog::content,
af|dialog::content-end  {
  background-image: none;
  background: transparent;
  outline: none;
  border: none;
}

af|dialog::close-icon  { 
  content: url('/img/buttons/btn-popup-close.png');
   line-height: 10px; 
   position: absolute; 
   right: -10px; 
   top: -10px; 
   height: 38px; 
   width: 38px; 
   outline: none;
   cursor: pointer; 
}

.dialog-shadow  {
  -webkit-box-shadow: 3px 4px 24px rgba(0,0,0,.75);
  -moz-box-shadow: 3px 4px 24px rgba(0,0,0,.75);
  box-shadow: 3px 4px 24px rgba(0,0,0,.75);
}

/* ~~~~~~ END DIALOG POPUP ~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~ BEGIN PANELWINDOW POPUP ~~~~~~~~~~~~~~~~~~~~~ */
af|panelWindow::close-icon  { 
  content: url('/img/buttons/btn-popup-close.png');
   line-height: 10px; 
   position: absolute; 
   right: -10px; 
   top: -15px; 
   height: 38px; 
   width: 38px; 
   outline: none;
   cursor: pointer; 
}

af|panelWindow::main  {
  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%);
  background: linear-gradient(#ffffff 0%, #e6e6e6 100%);
 }

@agent webkit {
   af|panelWindow::main  {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 100%);
   }
}

@agent ie {
  af|panelWindow::main  {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6')";
 }
}

@agent ie and (version: 7)  {
  af|panelWindow::main  {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e6e6e6');
 }
}

af|panelWindow::header-start,af|panelWindow::header,
af|panelWindow::header-end,af|panelWindow::footer-start,
af|panelWindow::footer,af|panelWindow::footer-end,
af|panelWindow::content-start,af|panelWindow::content,
af|panelWindow::content-end  {
  background-image: none;
  background: transparent;
  outline: none;
  border: none;
}

/* ~~~~~~ END PANELWINDOW POPUP ~~~~~~~~~~~~~~~~~~~~~ */


/* Alert */

af|panelGroupLayout.alert-icon-login  {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 14px;
  background: url('/img/master-sprite.png') no-repeat;
  background-position: -171px -26px;
}

af|panelGroupLayout.alert-icon-recover  {
  width: 16px;
  height: 16px;
  background: url('/img/master-sprite.png') no-repeat;
  background-position: -171px -26px;
}

/* Red/Green Plus/Minus Buttons */
af|commandButton.plus-green, af|commandButton.minus-red  {
  overflow: hidden;
  padding: 0;
  width: 16px;
  height: 17px;
  border: 1px solid;
  border: none;
  border-radius: none;
  background: url('/img/master-sprite.png') no-repeat;
  text-indent: -999999px;
}

af|commandButton.plus-green  {
  background-position: -16px 0;
}

af|commandButton.minus-red  {
  background-position: 0 0;
}

af|commandButton.plus-green:hover,
af|commandButton.plus-green:disabled,
af|commandButton.plus-green:disabled:hover,
af|commandButton.minus-red:hover,
af|commandButton.minus-red:disabled,
af|commandButton.minus-red:disabled:hover  {
  overflow: hidden;
  padding: 0;
  width: 16px;
  height: 17px;
  border: 1px solid;
  border: none;
  border-radius: none;
  background: url('/img/master-sprite.png') no-repeat;
  text-indent: -999999px;
}

af|commandButton.plus-green:hover,
af|commandButton.plus-green:disabled:hover  {
  background-position: -16px -18px;
}

af|commandButton.minus-red:hover  {
  background-position: 0 -18px;
}

af|commandButton.plus-green:active  {
  background-position: -16px -36px;
}

af|commandButton.minus-red:active  {
  background-position: 0 -36px;
}


/* ~~~~~~ BEGIN INPUT FILE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
af|inputFile {
  font-size: 14px;
  font-size: 14px; 
  width: 374px;
  height: 34px;
  border-top: 2px solid #848484;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 2px solid #ececec;
  position: absolute;
  z-index: 2;
}

af|inputFile::content { 
  font-size: 14px; 
  width: 374px;
  height: 34px;
}

af|inputFile:update::content {
border-width: 1px;
padding: 0px 2px 1px 2px;
border: 1px solid;
}

.fake-input  {
  width: 374px;
  z-index: 1;
}

.fake-button  {
  z-index: 1;
}

/* ~~~~~~ END INPUT FILE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~ BEGIN PROGRESS INDICATOR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
af|panelGroupLayout.progress-bar-container  {
  width: 300px;
  display: block;
  height: 25px;
  margin: 0 auto;
}

af|panelGroupLayout.progress-bar-container af|image  {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}

af|progressIndicator::content  {
  margin: 0;
  padding: 0;
  height: 25px;
  width: 276px;
  float: left;
  display: inline-block;
}

af|progressIndicator::determinate  {
  height: 25px;
  width: 276px;
}

af|progressIndicator::determinate-empty-icon-style  {
  background-image: url('/img/progress-bg.png');
  display: block;
}

af|progressIndicator::determinate-filled-icon-style  {
  background-image: url('/img/progress-on-bg.png');
  height: 25px;
}

.af_progressIndicator_determinate-start-label,.af_progressIndicator_determinate-end-label  {
  display: none;
}

/* ~~~~~~ END PROGRESS INDICATOR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~ BEGIN SELECT MANY CHECKBOX ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

af|selectManyCheckbox::label{
    color: #716F67;
}


/* ~~~~~~ END GLOSSARY ~~~~~~~~~~~~~~~~~~~~~ */    

/* ~~~~~~ START EMPLOYER DASHBOARD ~~~~~~~~~~~~~~~~~~~~~ */  

/* ~~~~~~ END EMPLOYER DASHBOARD ~~~~~~~~~~~~~~~~~~~~~ */  


/* ~~~~~~ BEGIN OPA SPECIFIC STYLES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
/* ~~~~~~ END OPA SPECIFIC STYLES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



