
/* --------------------------------------------------------
Style Sheet for OR-HIX

version: 1.3
-----------------------------------------------------------
CONTENTS:
~01 TYPOGRAPHY
~02 LINKS
~03 BUTTONS
~04 FORMS
~05 Popups/Windows 
  - General
  - Panelwindow
  - Dialog
  - Tabbed
  - Tribal Selected Plans
  - Note Window
~06 UTILITIES
 - Panels
 - Backgrounds
 - Utilities
 - Misc
~07 ICONS
 - Ribbons
 - Stars
 - Other
 - Alert
 - Plus/Minus
~08 PAGE SPECIFIC COMPONENTS
 - Enter Employer Info
 - EE showDetailHeader
 - Plans
~09 TEMPLATE
  - Landing Page Slider
  - Page Template
  - Left Sidebar
  - Dashboard
~10 TABLES
  - Carrier Response
  - PLAN SELECT PROFILE
  - SHOP Census upload results
~11 LANDING PAGES / HOME
~12 DASHBOARD PAGES
  - Glossary
------------------------------------------------------------*/

af|document,.af_document.p_AFMaximized
{
  background-color: #FEFEFE;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #716F67;
  background-repeat:repeat;
  height: 100%;
}

body  {
    font-family:  Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #716F67;
    background: #FEFEFE;
    background-image: none;
}

/* Basic Reset Items */
::-moz-selection { background: #00334E; color: #fff; text-shadow: none; }
::selection { background: #00334E; color: #fff; text-shadow: none; }
svg:not(:root) { overflow: hidden; }

/*--------------------------------------------
//                                          //
//   ~01 TYPOGRAPHY                         //
//                                          //
--------------------------------------------*/

.AFDefaultFont:alias{
    font-family:  Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 0px;
    padding-top: 0px;
    color: #716F67;
    font-style: normal;
}

/* OutputText */
af|outputFormatted, af|outputText, af|panelLabelAndMessage::label, af|activeOutputText {
    font-size: 14px;
    color: #716F67;
}

af|outputLabel, af|panelFormLayout::label-cell, af|panelFormLayout::label-stacked-cell{
    font-size: 14px;
    color: #565655;
    font-weight:bold;
}

/* Generic Color Classes */
.justColors  {
  font-size: 20px;
  font-weight: bold;
}

.txt-blue  {
  color: #1a4a7a;
}

.txt-lighter-blue  {
  color: #1a4a7a;
}

.txt-drk-gray  {
  color: #2e2e2e;
}

.txt-lt-gray  {
  color: #969696;
}

.txt-black  {
  color: #000;
}

.txt-red  {
  color: #c70000 ;
}
.txt-green  {
  color: #6ca625;
}
/* New Text Classes */
.page-heading,
.page-heading-underline,
.page-subheading,
.page-heading-process,
.page-subheading-process,
.txt-30,
.txt-28,
.txt-22  {
  color: #034564;
}

.txt-general-copy  {
  color: #3c3a37;
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 15px;
}

.page-heading  {
  margin-bottom: 20px;
  display: block;
  color: #1a4a7a;
  font-family: 'Brandon_Grotesque_Regular', Arial, sans-serif;
  font-size: 28px;
}

.page-heading  {
  color: #1a4a7a;
  font-family: 'Brandon_Grotesque_Regular', Arial, sans-serif;
  font-size: 28px;
}

.page-subheading  {
  color: #1a4a7a;
  font-family: 'Brandon_Grotesque_Regular', Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.process-time  {
  color: #063C5B;
  font-size: 18px;
}


.bold  {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.italic  {
  font-style: italic;
}

.txt-filter-title  {
  color: #1a4a7a;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.txt-filter-title-gray  {
  color: #999;
  font-size: 12px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.txt-filter-title-blue, .txt-plan-name-blue  {
  color: #00324d;
  font-size: 12px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}


/*--------------------------------------------
//                                          //
//   ~02 LINKS                               //
//                                          //
--------------------------------------------*/

a, af|goLink, af:commandLink,.btn-help,.btn-help:visited,
a:visited, af|goLink:visited, af:commandLink:visited,
.btn-help:visited  {
    color: #00A5E3;
    text-decoration: underline;
    cursor: pointer;
}

a:hover, af|goLink:hover,af:commandLink:hover,
af:commandLink:active,btn-help:active,
.btn-help:hover  {
    color: #00A5E3;
    cursor: pointer;
}

af|goLink, af:commandLink:hover  {
    font-size: 12px;
    text-decoration:underline;
    cursor: pointer;
}

.btn-help {
  font-size: 12px; 
}

.no-underline  {
  text-decoration: none;
}

.sectionBorder {
border-bottom: 1px solid #A7A7A7;
margin: 20px 0;
}

/*--------------------------------------------
//                                          //
//   ~03 BUTTONS                            //
//                                          //
--------------------------------------------*/

/* Secondary(our Default) Action Buttons E.g. Back, Cancel, Next, View Plans etc */
.af_commandButton.p_AFTextOnly, .af_dialog_footer-button.p_AFTextOnly  {
  position: relative;
  margin: 5px 0;
  padding: 7px 15px;
  border: #DEDDDD 1px solid;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: -moz-linear-gradient(top,  #F9F9F9 0%, #EDEBE9 100%);
  background: linear-gradient(to bottom,  #F9F9F9 0%,#EDEBE9 100%);
  color: #666;
  text-align: center;
  text-decoration: none; 
  text-transform: uppercase;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.af_dialog_footer-button  {
    margin-left: 3px;
}

@agent webkit {
  .af_commandButton.p_AFTextOnly,
  .af_dialog_footer-button.p_AFTextOnly  {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ececea));
    background: -webkit-linear-gradient(top,  #F9F9F9 0%,#EDEBE9 100%);
  }
}

@agent ie {
  .af_commandButton.p_AFTextOnly,
  .af_dialog_footer-button.p_AFTextOnly  {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#EDEBE9')";
 }
}

@agent ie and (version: 7)  {
  .af_commandButton.p_AFTextOnly,
  .af_dialog_footer-button.p_AFTextOnly {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#F9F9F9', EndColorStr='#EDEBE9');
 }
}

.af_dialog_footer-button,
.af_dialog_footer-button:hover,
.af_dialog_footer-button.:active
.af_commandButton.p_AFTextOnly,
.af_commandButton.p_AFTextOnly:hover,
.af_commandButton.p_AFTextOnly:active  {
  background: #f8f8f8;
  text-align: center;
  text-transform: uppercase;
}

.af_dialog_footer-button:hover,.af_dialog_footer-button:hover  {
    margin-left: 3px;
}

@agent ie and (version: 8) {
    .af_commandButton.p_AFTextOnly,
    .af_commandButton.p_AFTextOnly:hover,
    .af_commandButton.p_AFTextOnly:active  {
        letter-spacing: normal;
    }
}

af|commandButton,
af|commandButton:text-only,
.af_dialog_footer-button  {
  position: relative;
  margin: 5px 0;
  padding: 7px 15px;
  border: #DEDDDD 1px solid;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #666;
  text-align: center;
  text-decoration: none; 
  text-transform: uppercase;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  cursor: pointer;
}

af|commandButton:hover,
af|commandButton:text-only:hover,
af|commandButton.btn-people:hover,
.af_dialog_footer-button.p_AFTextOnly:hover   {
  margin: 5px 0;
  padding: 7px 15px;
  border: 1px solid #DEDDDD;
  background: #F9F9F9;
  background: -moz-linear-gradient(to bottom,  #EDEBE9 0%,#F9F9F9 100%);
  background: linear-gradient(to bottom,  #EDEBE9 0%,#F9F9F9 100%);
  color: #666;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

@agent webkit {
  af|commandButton:hover,
  af|commandButton:text-only:hover,
  af|commandButton.btn-people:hover,
  .af_dialog_footer-button.p_AFTextOnly:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#cecece));
    background: -webkit-linear-gradient(top,  #EDEBE9 0%,#F9F9F9 100%);
  }
}

@agent ie {
  af|commandButton:hover,
  af|commandButton:text-only:hover,
  af|commandButton.btn-people:hover,
  .af_dialog_footer-button:hover  {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEBE9', endColorstr='#F9F9F9')";
 }
}

@agent ie and (version: 7)  {
    af|commandButton:hover,
  af|commandButton:text-only:hover,
  af|commandButton.btn-people:hover,
  .af_dialog_footer-button.p_AFTextOnly:hover {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#EDEBE9', EndColorStr='#F9F9F9');
 }
}

af|commandButton:active,
af|commandButton:text-only:active,
.af_dialog_footer-button.p_AFTextOnly:active  {
  margin: 5px 0;
  padding: 7px 15px;
  border: 1px solid #DEDDDD;
  background: #F9F9F9;
  background: -moz-linear-gradient(to bottom,  #EDEBE9 0%,#F9F9F9 100%);
  background: linear-gradient(to bottom,  #EDEBE9 0%,#F9F9F9 100%);
  color: #666;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

.af_dialog_footer-button.p_AFTextOnly:active  {
  margin-left: 3px;
}

@agent webkit {
  af|commandButton:active,
  af|commandButton:text-only:active,
  .af_dialog_footer-button.p_AFTextOnly:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEBE9), color-stop(100%,#F9F9F9));
    background: -webkit-linear-gradient(top,  #EDEBE9 0%,#F9F9F9 100%);
  }
}

@agent ie {
  af|commandButton:active,
  af|commandButton:text-only:active,
  .af_dialog_footer-button.p_AFTextOnly:active {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEBE9', endColorstr='#F9F9F9')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton:active,
  af|commandButton:text-only:active,
  .af_dialog_footer-button.p_AFTextOnly:active {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#EDEBE9', EndColorStr='#F9F9F9');
 }
}

af|commandButton:focus,
af|commandButton:text-only:focus,
af|commandButton::icon-style:focus 
 {
  outline: 0;
  text-transform: uppercase;
}

af|commandButton:disabled,
af|commandButton:text-only:disabled,
af|commandButton:disabled:hover,
af|commandButton:text-only:disabled:hover,
.af_dialog_footer-button.p_AFTextOnly:disabled,
.af_dialog_footer-button.p_AFTextOnly:disabled:hover  {
  display: inline-block;
  margin: 5px 0;
  border: 1px solid #DEDDDD;
  border: #DEDDDD 1px solid;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: #e6e6e6;
  color: #666;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.65;
  cursor: default;
  *display: inline;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

.af_dialog_footer-button  {
  height: 32px;
}

.af_dialog_footer-button.p_AFTextOnly:hover  {
  margin-left: 3px;
}

af|commandButton.btn-green-start {
  font-size: 14px;
  color: #fff;
  width: 194px;
  height: 38px;
  text-shadow: 1px 1px 2px #0e3042;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #c8c8c8;
  border: solid 1px #559b1e;
  background: -moz-linear-gradient(top, #7fd938 1%, #41860b);
  background: linear-gradient(to bottom, #7fd938 1%, #41860b);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

@agent webkit {
  af|commandButton.btn-green-start {
    background: -webkit-linear-gradient(top, #7fd938 1%, #41860b);
  }
}

@agent ie {
  af|commandButton.btn-green-start {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fd938', endColorstr='#41860b')";
 }
}

@agent ie and (version: 8) {
    af|commandButton.btn-green-start,
    af|commandButton.btn-green-start:active,
    af|commandButton.btn-green-start:hover,
    af|commandButton.btn-green-start:disabled,
    af|commandButton.btn-green-start:disabled:hover {
        padding-left: 30px;
    }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-green-start {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7fd938', EndColorStr='#41860b');
 }
}

af|commandButton.btn-green-start:hover,
af|commandButton.btn-green-start:disabled,
af|commandButton.btn-green-start:disabled:hover {
  font-size: 14px;
  color: #fff;
  width: 194px;
  height: 38px;
  text-shadow: 1px 1px 2px #0e3042;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #c8c8c8;
  border: solid 1px #559b1e;
  background: -moz-linear-gradient(top, #41860b 1%, #7fd938);
  background: linear-gradient(to bottom, #41860b 1%, #7fd938);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

@agent webkit {
  af|commandButton.btn-green-start:hover,
  af|commandButton.btn-green-start:disabled,
  af|commandButton.btn-green-start:disabled:hover {
    background: -webkit-linear-gradient(top, #41860b 1%, #7fd938);
  }
}

@agent ie {
  af|commandButton.btn-green-start:hover,
  af|commandButton.btn-green-start:disabled,
  af|commandButton.btn-green-start:disabled:hover {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#41860b', endColorstr='#7fd938')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-green-start:hover,
  af|commandButton.btn-green-start:disabled,
  af|commandButton.btn-green-start:disabled:hover {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#41860b', EndColorStr='#7fd938');
 }
}


af|commandButton.btn-primary,
af|commandButton.btn-primary:hover,
af|commandButton.btn-primary:active {
    text-shadow: 1px 1px 1px #000;
    border: 1px solid #559b1e;
    background: #7BC93D;
    color: #fff;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background: -moz-linear-gradient(#7BC93D, #559b1e);
    background: linear-gradient(#7BC93D, #559b1e);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
}

@agent webkit {
  af|commandButton.btn-primary {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#7BC93D), to(#559b1e));
    background: -webkit-linear-gradient(#7BC93D, #559b1e);
  }
}

@agent ie {
  af|commandButton.btn-primary {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7BC93D', endColorstr='#559b1e')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-primary {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7BC93D', EndColorStr='#559b1e');
 }
}

af|commandButton.btn-primary:hover  {
    background: -moz-linear-gradient(#559b1e, #7BC93D);
    background: linear-gradient(#559b1e, #7BC93D);
}

@agent webkit {
  af|commandButton.btn-primary:hover {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#559b1e), to(#7BC93D));
    background: -webkit-linear-gradient(#559b1e, #7BC93D);
  }
}

@agent ie {
  af|commandButton.btn-primary:hover; {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#559b1e', endColorstr='#7BC93D')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-primary:hover; {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#559b1e', EndColorStr='#7BC93D');
 }
}

af|commandButton.btn-primary:disabled,
af|commandButton.btn-primary:disabled:hover {
  font-size: 12px;
  color: #fff;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #7BC93D;
  border: solid 1px #559b1e;
  background: -moz-linear-gradient(#559b1e, #7BC93D);
  background: linear-gradient(to bottom, #559b1e 1%, #7BC93D);
}

@agent webkit {
  af|commandButton.btn-primary:hover,
  af|commandButton.btn-primary:disabled,
  af|commandButton.btn-primary:disabled:hover {
    background: -webkit-linear-gradient(top, #559b1e 1%, #7fd938);
  }
}

@agent ie {
  af|commandButton.btn-primary:hover,
  af|commandButton.btn-primary:disabled,
  af|commandButton.btn-primary:disabled:hover {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#559b1e', endColorstr='#7fd938')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-primary:hover,
  af|commandButton.btn-primary:disabled,
  af|commandButton.btn-primary:disabled:hover {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#559b1e', EndColorStr='#7fd938');
 }
}


af|commandButton.btn-primary-start,
af|commandButton.btn-primary-start:hover,
af|commandButton.btn-primary-start:disabled,
af|commandButton.btn-primary-start:disabled:hover {
  font-size: 18px;
  font-weight: normal;
}

/* Help/Support Buttons (Color ~ Blue) E.g. Find an Agent, Browse etc. */
af|commandButton.btn-support  {
  border: 1px solid #001247;
  background: #1c9ccc;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 7px 15px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #fff;
  margin: 5px 0;
  background: -moz-linear-gradient(#1c9ccc, #093750);
  background: linear-gradient(#1c9ccc, #093750);
  text-shadow: 1px 1px 1px #000;
}

@agent webkit {
   af|commandButton.btn-support  {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#1c9ccc), to(#093750));
    background: -webkit-linear-gradient(#1c9ccc, #093750);
   }
}

@agent ie {
   af|commandButton.btn-support {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c9ccc', endColorstr='#093750')";
 }
}

@agent ie and (version: 7)  {
  af|commandButton.btn-support {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#1c9ccc', EndColorStr='#093750');
 }
}

/*--------------------------------------------
//                                          //
//   ~04 FORMS                              //
//                                          //
--------------------------------------------*/

/* General */
input:focus {
    outline: none;
}
:focus {
  outline: 0;
}
input::-moz-focus-inner { border: 0; }
select::-moz-focus-inner { border: 0; }

af|inputText::label{
    font-size: 12px;
    color: #3c3a37;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

af|inputText::content, af|inputDate::content  {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border: 2px solid #fff;
  overflow: hidden;
  box-shadow: inset 1px 1px 5px #ccc, 0px 0px 3px #ccc;
  background: #edeeef;
  color: #a8a8a8;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  background-image: none;
  margin-right: 3px;
}

.fld-large af|inputText::content {
  width: 318px;
}

.fld-larger af|inputText::content  {
    width: 677px;    
}

.fld-medium af|inputText::content {
  width: 242px;
}

.fld-mediumSmall af|inputText::content  {
    width: 190px;   
}

.fld-small af|inputText::content{
    width: 130px;    
}

.fld-smallest af|inputText::content{
    width: 45px;
}

.fld-gray-txt af|inputText::content  {
  color: #636466;
  font-weight: normal;
}

/* end new fields */

.largeField af|inputText::content  {
    width: 686px;    
}

.mediumField af|inputText::content  {
    width:  320px;    
}

.mediumSmallField af|inputText::content  {
    width: 190px;  
}

.fld-selectSmaller af|inputText::content {
  width: 100px;
}

.fld-selectSmall af|inputText::content {
  width: 222px;
}

.smallField af|inputText::content  {
    width:130px;    
}

.smallerField af|inputText::content  {
    width:45px;
}

.fld-error af|inputText::content  {
  border: 2px solid #c70000;
  background-color: #fff;
}

af|selectOneChoice.fld-error {
  border: 2px solid #c70000;
  background-color: #fff;
}

/* Date Input */
af|inputDate::label {
    color: #565655;
    font-weight: bold;
    padding-top: 4px;
    font-family:  Arial, sans-serif;
    font-size: 13px;
}

af|inputDate::launch-icon-style {
    margin-left: -30px;
    height: 20px;
    width: 18px;
    background-image: url('/img/icons/icn-cal.gif');
    position: relative;
    top: 3px;
    z-index: 10;
    opacity: .8;
    filter:alpha(opacity=80);
}

af|inputDate:hover::launch-icon-style{
    background-image: url('/img/icons/icn-cal-hover.gif');
    opacity:1;
    filter:alpha(opacity=100);
}

/* Read Only */
af|inputText:read-only::content  {
  background-image: none;
  background: transparent;
  color: #2e2e2e;
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 13px;
  font-weight: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}

.af_inputText.fld-readonly af|inputText::content  {
  padding: 6px 10px;
  color: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: transparent;
  font-size: 14px;
  font-weight: normal;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.af_inputText.txt-privacy-policy:read-only textarea {
  padding: 12px;
  border: 1px solid #ccc;
  resize: none;
  background: #fff;
  color: #716F67;
  background-image: none;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  overflow-y: scroll;
}

/* --------------------------- */

/* File Input */
af|inputFile::content{
    background: #fff;
    width: 200px;
    padding: 5px;
}

/* Radio Button */
af|selectBooleanRadio::label, af|selectBooleanRadio::item-text{
    font-size: 13px;
    color: #716F67;
    vertical-align: middle;
}

af|selectBooleanRadio::item-text{
    position:relative;
    top:4px;
}

af|selectOneRadio::item-text, af|selectOneRadio::label{
    font-size: 13px;
    color: #716F67;
    vertical-align: middle;
}

af|selectOneRadio::item-text{
    position:relative;
    top: 3px;
}

@agent ie  {
   af|selectOneRadio::item-text{
    line-height: 21px;
  } 
}

af|selectOneRadio::content div  {
    float: left;
    margin-right: 10px;
    display: inline-block;
}

.af_selectOneRadio_native-input,.af_selectOneRadio_native-input,
.af_selectBooleanRadio_native-input,.af_selectBooleanRadio_native-input{
    margin: 0;
    padding: 0;
}
/*checkbox*/
af|selectBooleanCheckbox::label, af|selectBooleanCheckbox::item-text{
    font-size: 14px;
    color: #1A4A7A;
    vertical-align: middle;
}

af|selectBooleanCheckbox::item-text{
    position:relative;
    top: 2px;
}

.filter-check-small af|selectManyCheckbox::item-text  {
  background: red;
}


@agent ie {

  af|selectOneRadio::item-text {
    top: 0;
  } 

  af|selectBooleanCheckbox::label, af|selectBooleanCheckbox::item-text  {
      font-size: 13px;
      color: #716F67;
      vertical-align: middle;
  }
  
}/* End @agent ie */

/*Select One Drop Down*/
af|selectOneChoice  {
  overflow: hidden;
  width: 267px;
   background: url('/img/icons/icn-selector-arrow.png') no-repeat scroll 245px 8px #edeeef;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #fbfbfb;
  margin: 2px 10px 0 0;
  background-color: #edeeef;
  color: #034564;
  margin-right: 10px;
} 

af|selectOneChoice::content  {
  border: 0;
  color: #034564;
  background: transparent;
  font-size: 12px;
  font-weight: bold; 
  height: 25px;
  padding: 2px 5px; 
  *background: transparent; 
  -webkit-appearance: none;
}

af|selectOneChoice.largeField  {
  background-position: 670px 8px;
  width: 680px;
}

af|selectOneChoice.largeField af|selectOneChoice::content {
  width: 680px;
}

af|selectOneChoice.mediumField   {
  background-position: 22px 8px;
  width: 32px;
}

af|selectOneChoice.mediumField af|selectOneChoice::content  {
    width: 32px;
}

af|selectOneChoice.smallField  {
  background-position: 120px 8px;
  width: 130px;
}

af|selectOneChoice.smallField af|selectOneChoice::content  {
    width: 130px;
}

af|selectOneChoice.smallerField  {
  background-position: 35px 8px;
  width: 45px;
}

af|selectOneChoice.smallerField af|selectOneChoice::content {
    width: 45px;
}

af|selectOneChoice.fld-small  {
  background-position: 120px 8px;
  width: 130px;    
}

af|selectOneChoice.fld-small af|selectOneChoice::content {
    width: 130px;    
}

af|selectOneChoice.fld-selectSmall {
  background-position: 234px 8px; 
  width: 244px; 
}

af|selectOneChoice.fld-selectSmall af|selectOneChoice::content {
  width: 244px; 
}

af|selectOneChoice.lang-select {
  background-position: 170px 8px;
  margin: 2px 10px 0 0;  
  width: 180px; 
}

af|selectOneChoice.lang-select af|selectOneChoice::content {
  width: 180px; 
}

af|selectOneChoice.resourceSearchSelect {
  background-position: 160px 8px;
  margin: 2px 10px 0 0;  
  width: 170px; 
}

af|selectOneChoice.resourceSearchSelect af|selectOneChoice::content {
  width: 170px; 
}

/*--------------------------------------------
//                                          //
//   ~05 POPUPS/WINDOWS                     //
//                                          //
--------------------------------------------*/

/* ~~~~~~ BEGIN GENERAL POPUP ~~~~~~~~~~~~~~~~~~~~~ */

af|popup::header-start:core:default,
af|popup::header-center:core:default,
af|popup::header-end:core:default,
af|popup::center:core:default,
af|popup::footer-start:core:default,
af|popup::footer-center:core:default,
af|popup::footer-end:core:default,
af|popup::header-start,
af|popup::footer-end  {
  background-image:none;
  outline:none;
  padding: 0;
  width: 0;
}

.AFPopupSelector {
  background-color: transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  outline: none;
}

.AFPopupSelectorContent  {
  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%);
  background: linear-gradient(#ffffff 0%, #e6e6e6 100%);
}

@agent webkit  {
.AFPopupSelectorContent  {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 100%);
  }
}

@agent ie {
  .AFPopupSelectorContent  {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6')";
 }
}

@agent ie and (version: 7)  {
  .AFPopupSelectorContent  {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e6e6e6');
 }
}

.AFPopupSelectorBorderCellEdge:alias {
  -webkit-box-shadow: none;
  outline: none;
  background-color: transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: none;
}

.AFPopupSelectorFooter,.AFPopupSelectorFooterStart,
.AFPopupSelectorFooterEnd,.AFPopupSelectorBorderCellCorner {
  background: #e6e6e6;
}

.AFPopupSelectorBorderCellEdge:alias,.AFPopupSelector  {
  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%);
  background: linear-gradient(#ffffff 0%, #e6e6e6 100%);
}

@agent webkit {
   .AFPopupSelectorBorderCellEdge:alias,.AFPopupSelector  {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 100%);
   }
}

@agent ie {
  .AFPopupSelectorBorderCellEdge:alias,.AFPopupSelector  {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6')";
   }
}

@agent ie and (version: 7)  {
  .AFPopupSelectorBorderCellEdge:alias,.AFPopupSelector  {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e6e6e6');
 }
}

.general-popup-wrap,.filter-popup-wrap   {
  min-width: 400px !important;
}

.AFModalGlassPane  {
  background-color: none;
}

.af_dialog_close-icon-style  {
    
}

/* ~~~~~~ END GENERAL POPUP ~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~ BEGIN DIALOG POPUP ~~~~~~~~~~~~~~~~~~~~~ */

af|dialog::main  {
  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%);
  background: linear-gradient(#ffffff 0%, #e6e6e6 100%);
 }

@agent webkit {
   af|dialog::main  {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 100%);
   }
}

@agent ie {
  af|dialog::main  {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6')";
 }
}

@agent ie and (version: 7)  {
  af|dialog::main  {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e6e6e6');
 }
}

af|dialog::header-start,af|dialog::header,
af|dialog::header-end,af|dialog::footer-start,
af|dialog::footer,af|dialog::footer-end,
af|dialog::content-start,af|dialog::content,
af|dialog::content-end  {
  background-image: none;
  background: transparent;
  outline: none;
  border: none;
}

af|dialog::close-icon  { 
  content: url('/img/buttons/btn-popup-close.png');
   line-height: 10px; 
   position: absolute; 
   right: -10px; 
   top: -10px; 
   height: 38px; 
   width: 38px; 
   outline: none;
   cursor: pointer; 
}

.dialog-shadow  {
  -webkit-box-shadow: 3px 4px 24px rgba(0,0,0,.75);
  -moz-box-shadow: 3px 4px 24px rgba(0,0,0,.75);
  box-shadow: 3px 4px 24px rgba(0,0,0,.75);
}

/* ~~~~~~ END DIALOG POPUP ~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~ BEGIN PANELWINDOW POPUP ~~~~~~~~~~~~~~~~~~~~~ */
af|panelWindow::close-icon  { 
  content: url('/img/buttons/btn-popup-close.png');
   line-height: 10px; 
   position: absolute; 
   right: -10px; 
   top: -15px; 
   height: 38px; 
   width: 38px; 
   outline: none;
   cursor: pointer; 
}

af|panelWindow::main  {
  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%);
  background: linear-gradient(#ffffff 0%, #e6e6e6 100%);
 }

@agent webkit {
   af|panelWindow::main  {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 100%);
   }
}

@agent ie {
  af|panelWindow::main  {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6')";
 }
}

@agent ie and (version: 7)  {
  af|panelWindow::main  {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e6e6e6');
 }
}

af|panelWindow::header-start,af|panelWindow::header,
af|panelWindow::header-end,af|panelWindow::footer-start,
af|panelWindow::footer,af|panelWindow::footer-end,
af|panelWindow::content-start,af|panelWindow::content,
af|panelWindow::content-end  {
  background-image: none;
  background: transparent;
  outline: none;
  border: none;
}

/* ~~~~~~ END PANELWINDOW POPUP ~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~ BEGIN TAB BUTTON POPUP ~~~~~~~~~~~~~~~~~~~~~ */

.ind-popup-wrap  {
  width: 512px !important;
  padding: 0;
}

.ind-col-1  {
  width: 90px;
}

.ind-col-2 {
  width: 124px;
}

.ind-col-3  {
  width: 90px;
}

.ind-col-4  {
  width: 106px;
}

.ind-col-5  {
  width: 102px;
}

.ind-popup-col-header  {
  height: 97px;
  line-height: 90px;
  background: url('/img/bottom-shadow-bg.jpg') repeat-x bottom;
  text-align: center;
}

.ind-popup-col-header .ind-col-1,
.ind-popup-col-header .ind-col-2,
.ind-popup-col-header .ind-col-3,
.ind-popup-col-header .ind-col-4,
.ind-popup-col-header .ind-col-5  {
 display: block;
 float: left;
 text-align: center;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
  color: #034564;
  font-size: 16px;
  font-family: 'Avenir_Black', Arial, sans-serif;
} 

.ind-popup-row  {
  clear: both;
  border-bottom: 1px solid #d2d2d2;
  line-height: 70px;
  height: 70px;
  text-align: center; 
} 

.ind-popup-row .ind-col-1 {
  text-align: left;
  padding-left: 10px;
}

.ind-popup-wrapper .ind-popup-row:last-child  {
  border-bottom: none;
}

.ind-popup-wrapper .ind-popup-row:first-child  {
  text-align: left;
}

.ind-col-1,
.ind-col-2,
.ind-col-3,
.ind-col-4,
.ind-col-5,
.sel-col-1 {
  display: inline-block;
  float: left;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  font-size: 12.43px;
  font-family: 'Avenir_Black', Arial, sans-serif;
}

.ind-popup-row .ind-popup-num  {
  font-size: 18px;
  font-family: 'Avenir_Black', Arial, sans-serif;
  color: #1a4a7a;
  border-left: 1px solid #d2d2d2;
}

.premium-heading  {
  line-height: 20.78px;
  margin-top: 23px;
}

.ind-first-row  {
  margin-top: -8px;
}

/* Shopping Cart Popup */
.sel-popup-wrap  {
  width: 612px !important;
  padding: 0;
}

.sel-popup-col-header  {
  height: 97px;
  line-height: 90px;
  background: url('/img/bottom-shadow-bg.jpg') repeat-x bottom;
  text-align: center;
}

.sel-popup-col-header .sel-col-1-hd,
.sel-popup-col-header .sel-col-2-hd,
.sel-popup-col-header .sel-col-3-hd  {
 display: block;
 float: left;
 text-align: center;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
  color: #034564;
  font-size: 16px;
  font-family: 'Avenir_Black', Arial, sans-serif;
}

.sel-popup-row  {
  clear: both;
  border-bottom: 1px solid #d2d2d2;
  height: 70px;
  text-align: center;
 }

.sel-popup-row .sel-col-1 {
  text-align: left;
  padding-left: 10px;
   }

.sel-popup-wrapper .sel-popup-row:last-child  {
  border-bottom: none;
}

.sel-popup-wrapper .sel-popup-row:first-child  {
  text-align: left;
 }

.sel-col-1,
.sel-col-2,
.sel-col-3 {
  display: inline-block;
  float: left;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #d2d2d2;
  line-height: 70px;
  height: 70px;
}

.sel-col-1  {
  border: none;
 }

.sel-col-1, .sel-col-1-hd  {
  width: 90px;
}

.sel-col-2,.sel-col-2-hd {
  width: 231px;
}

.sel-col-3  {
  width: 104px;
  line-height: 16px;
  padding-top: 20px;
  border: none;
}

.sel-col-4 {
  width: 150px;
  padding-top: 24px;
  display: inline-block;
  float: left;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #d2d2d2;
  height: 70px;
  color: #1a4a7a;
  font-size: 15px;
  text-align: left;
  }

.sel-col-4 af|selectOneRadio,
.sel-col-4 .sel-trash,
.sel-col-4 .sel-all-groups {
  float: left;
  display: inline-block;
}

.sel-all-groups  {
  width: 64px;
  margin-top: -8px;
  margin-left: 15px;
  margin-right: 15px;
 }

.sel-col-3-hd af|selectOneRadio  {
  margin-left: 30px;
}

.sel-col-3-hd af|selectOneRadio::item-text {
  color: #1a4a7a;
  font-size: 15px;
  margin-right: 27px;
 }

.sel-col-3-hd  {
  width: 254px;
}

.sel-popup-row .sel-popup-num  {
  font-size: 18px;
  font-family: 'Avenir_Black', Arial, sans-serif;
  color: #1a4a7a;
 }

.sel-col-2  {
  font-weight: normal;
  color: #666;
  font-size: 16px;
  border-right: 1px solid #d2d2d2;
   }

.sel-per-month  {
  color: #1a4a7a;
  font-size: 11px;
  font-family: 'Avenir_Black', Arial, sans-serif;
  margin-left: 10px;
 }

.sel-premium-heading  {
  line-height: 20.78px;
  margin-top: 23px;
 }

.sel-first-row  {
  margin-top: -8px;
}
/* ~~~~~~ END TAB BUTTON POPUP ~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~ BEGIN TRIBAL SELECTED PLANS POPUP ~~~~~~~~~~~~~~~~~~~~~ */
/* Shopping Cart Popup */
.trselect-popup-wrap  {
  width: 612px !important;
  padding: 0;
}

.trselect-popup-col-header  {
  padding: 12px 0 38px 24px;
  background: url('/img/bottom-shadow-bg.jpg') repeat-x bottom;
  font-weight: 'Avenir_Black', Arial, sans-serif;
}

.trselect-popup-col-header .trselect-col-1-hd {
 display: block;
 float: left;
 text-align: center;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
  color: #034564;
  font-weight: 'Avenir_Black', Arial, sans-serif;
}

.trselect-popup-row  {
  clear: both;
  border-bottom: 1px solid #d2d2d2;
  text-align: center;
 }

.trselect-popup-wrapper .trselect-popup-row:last-child  {
  border-bottom: none;
}

.trselect-popup-wrapper .trselect-popup-row:first-child  {
  text-align: left;
 }

.trselect-col-1,
.trselect-col-2,
.trselect-col-3, 
.trselect-col-4  {
  padding: 24px;
  display: inline-block;
  float: left;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.trselect-col-2,
.trselect-col-3, 
.trselect-col-4  {
  font-size: 14px;
}

.trselect-col-1  {
  border: none;
  padding: 12px;
  width: 140px;
 }

.trselect-col-3 af|commandLink,.trselect-col-3 af|commandLink:hover,
.trselect-col-3 af|commandLink:active  {
  border: none;
  font-style: italic;
  font-size: 12px;
  color: #00A5E3;
  text-decoration: underline;
}

.trselect-col-2  {
  font-weight: normal;
  font-size: 16px;
  width: 250px;
  padding-left: 0;
  padding-left: 0;
 }

.trselect-col-2 af|image  {
  margin-bottom: 6px;
}

.trselect-first-row  {
  margin-top: -8px;
}
/* ~~~~~~ END TRIBAL SELECTED PLANS POPUP ~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~ BEGIN NOTE WINDOW POPUP ~~~~~~~~~~~~~~~~~~~~~ */

.AFNoteWindow  {
  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%);
  background: linear-gradient(#ffffff 0%, #e6e6e6 100%);
}

@agent webkit {
   .AFNoteWindow  {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 100%);
   }
}

@agent ie {
  .AFNoteWindow  {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6')";
 }
}

@agent ie and (version: 7)  {
  .AFNoteWindow  {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e6e6e6');
 }
}

/* ~~~~~~ END NOTE WINDOW POPUP ~~~~~~~~~~~~~~~~~~~~~ */

/*--------------------------------------------
//                                          //
//   ~06 UTILITES                           //
//                                          //
--------------------------------------------*/

/* ~~~~~~ START PANELS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
af|panelGroupLayout.pad-5  {
    padding: 5px;
}
af|panelGroupLayout.pad-10  {
    padding: 10px;
}
af|panelGroupLayout.pad-15  {
    padding:15px;
}
af|panelGroupLayout.pad-20  {
    padding: 20px;
}
af|panelGroupLayout.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.pad-5  {
  padding: 5px;
}

.pad-10  {
  padding: 10px;
}

.pad-15  {
  padding: 15px;
}

.pad-20  {
  padding: 20px;
}

.rounded-5  {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-boder-radius: 5px;
}

/* ~~~~~~ END PANELS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~ START BACKGROUNDS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.gray-grad-border  {
    background: #e6e6e6;
    border: 1px solid #aeaeae;
    background: linear-gradient(#ffffff 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 100%);
    behavior: url(scripts/PIE.htc);
}
.gray-grad  {
    background: #e6e6e6;
    background: -moz-linear-gradient(#ffffff 0%, #e6e6e6 100%);
    background: linear-gradient(#ffffff 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 100%);
}

@agent webkit  {
  .gray-grad-border,.gray-grad  {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 100%);
  }
}

@agent ie and (version: 7)  {
  .gray-grad-border {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e6e6e6');
 }
}

@agent ie {
  .gray-grad-border,
  .gray-grad  {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6')";
 }
}

@agent ie and (version: 7)  {
  .gray-grad-border,
  .gray-grad
  {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e6e6e6');
 }
}

.background-pale-blue  {
    background-color: #f4f8f9;
}

.background-blue  {
    background-color: #cfe6ee;
}

.background-grey1  {
    background-color: #f2f2f2;
}

.background-grey2  {
    background-color: #eaeaea;
}

.background-grey3  {
    background-color: #9a9a9a;
}

.background-grey4  {
    background-color: #686868;
}

.background-dark-gray  {
  background: #ededed;
  background: -moz-linear-gradient(top,  #ededed 0%, #d0d0d0 100%);
  background: linear-gradient(to bottom,  #ededed 0%,#d0d0d0 100%);
}

@agent webkit {
  .background-dark-gray  {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d0d0d0));
    background: -webkit-linear-gradient(top,  #ededed 0%,#d0d0d0 100%); 
  }
}

@agent ie {
  .background-dark-gray {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#d0d0d0')";
 }
}

.background-blue-tile  {
  background: #cfe6ee;
   background-image: url('/img/blue-stripe-bg.png');
}

/* ~~~~~~ END BACKGROUNDS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~ BEGIN MISC ~~~~~~~~~~~~~~~~~~~~~ */

.formEntryDivider {
  border-bottom: 1px solid #a7a7a7;
  padding: 10px 0;
}

.blue-border  {
   border: 1px solid #1a4a7a;
}

.AFRequiredIconStyle{
  color: #d96210;
}
 
.hideAsterisk .AFRequiredIconStyle {
display: none; 
}

/* Contain floats */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* SHOP Overview */
af|panelGroupLayout.overview-info-header  {
    padding: 10px 0;
}
af|image.overview-clock-icon  {
    padding: 0 20px;
}
af|image.overview-complete-icon  {
    padding: 18px 18px 18px 4px;
}

/* Slider outputText Bubble */
.slider-bubble {
  padding: 6px 10px;
  color: #034564;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #edeeef;
  font-size: 14px;
  font-family: 'Avenir_Black', Arial, sans-serif;
  background-image: none;
  -webkit-box-shadow: 1px 1px 11px #d1d2d3;
  -moz-box-shadow: 1px 1px 11px #d1d2d3;
  box-shadow: 1px 1px 11px #d1d2d3;
  border: 1px solid #fbfbfb;
  overflow: hidden; 
}

af|panelLabelAndMessage.customPLM::label {
   font-size: 13px;
   color: #034564;
   font-family: 'Avenir_Black', Arial, sans-serif;
}

af|panelGroupLayout.employer-census-pad  {
   padding-left : 100px;
   padding-right :100px;
   padding-bottom : 40px;
}

.float-right  {
  float: right;
}

.float-left  {
  float: left;
}

.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 32px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.dottedTable tr td div  {
    width:80px; border-bottom:2px dotted gray;
}

  af|statusIndicator,
  af|statusIndicator::processing-icon,
  af|statusIndicator::connecting-icon  {
    content: url("/img/loading.gif");
    height: 90px;
    width: 90px;
}

.shadow  {
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .1);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .1);
}

.border {
  border: 1px solid #afafaf;
}
.page-heading-results-lead{
    position:relative;
    margin-top:-40px;
    float:left;
    padding: 10px 10px 0px 0px;
}
.box-plan-results-number  {
  position:relative;
  margin-top:-40px;
  border: 1px solid #afafaf;
  background: #fafafa;
  float:left;
  padding: 11px 20px 11px;
  border-right:none;
}
.box-plan-results-text{
position:relative;
  margin-top:-40px;
  border: 1px solid #afafaf;
  background: #fafafa;
  float:left;
  padding: 20px 20px;
}
af|panelBox.customPanelBox::content:core:default:hover  {
 text-decoration: none;
 border-right:1px solid #ccc;
 border-bottom:1px solid #ccc;
 -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .1);
 box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .1);
 background-color: #F6F6F6; 
}

.selectone-margin-left  {
  margin-left: 7px;
}

/* Account Login Screen */
af|panelGroupLayout.login_pgl  {
  height: 155px;
  border-left: 1px solid Black;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

/*--------------------------------------------
//                                          //
//   ~07 ICONS                              //
//                                          //
--------------------------------------------*/

/* ~~~~~~ Ribbons ~~~~~~~~~~~~~~~~~~~~~ */
.icn-ribbon{
    background-image:url("/img/master-sprite.png");
    background-repeat:no-repeat;
    height:42px;
    width:24px;
    margin:0 auto;
}
.icn-ribbon.platinum{
    background-position: -35px 0px;
}
.icn-ribbon.gold{
    background-position: -90px 0px;
}
.icn-ribbon.silver{
    background-position: -117px 0px;
}
.icn-ribbon.bronze{
    background-position: -62px 0px;
}
.icn-ribbon.catastrophic{
    background-position: -144px 0px;
}

/* Stars */

.icn-stars{
    background-image:url("/img/master-sprite.png");
    background-repeat:no-repeat;
    height:18px;
    width:104px;
}
.icn-stars.one{
    background-position: -204px 0px;
}
.icn-stars.two{
    background-position: -204px -22px;
}
.icn-stars.three{
    background-position: -204px -42px;
}
.icn-stars.four{
    background-position: -204px -62px;
}
.icn-stars.five{
    background-position: -204px -82px;
}

/* Small Stars */

.icn-stars-sm{
    background-image:url("/img/master-sprite.png");
    background-repeat:no-repeat;
    height:14px;
    width:77px;
}
.icn-stars-sm.one{
    background-position: -310px 0px;
}
.icn-stars-sm.two{
    background-position: -310px -14px;
}
.icn-stars-sm.three{
    background-position: -310px -29px;
}
.icn-stars-sm.four{
    background-position: -310px -44px;
}
.icn-stars-sm.five{
    background-position: -310px -60px;
}

/* Other */

.icn-x{
    width: 18px;
    height: 16px;
    background: url('/img/master-sprite.png') no-repeat;
    background-position: -171px -45px;
}
.icn-check{
    width: 18px;
    height: 17px;
    background: url('/img/master-sprite.png') no-repeat;
    background-position: -171px -63px;
    margin: 0 10px;
}

/* Alert */

af|panelGroupLayout.alert-icon-login  {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 14px;
  background: url('/img/master-sprite.png') no-repeat;
  background-position: -171px -26px;
}

af|panelGroupLayout.alert-icon-recover  {
  width: 16px;
  height: 16px;
  background: url('/img/master-sprite.png') no-repeat;
  background-position: -171px -26px;
}

/* Red/Green Plus/Minus Buttons */
af|commandButton.plus-green, af|commandButton.minus-red  {
  overflow: hidden;
  padding: 0;
  width: 16px;
  height: 17px;
  border: 1px solid;
  border: none;
  border-radius: none;
  background: url('/img/master-sprite.png') no-repeat;
  text-indent: -999999px;
}

af|commandButton.plus-green  {
  background-position: -16px 0;
}

af|commandButton.minus-red  {
  background-position: 0 0;
}

af|commandButton.plus-green:hover,
af|commandButton.plus-green:disabled,
af|commandButton.plus-green:disabled:hover,
af|commandButton.minus-red:hover,
af|commandButton.minus-red:disabled,
af|commandButton.minus-red:disabled:hover  {
  overflow: hidden;
  padding: 0;
  width: 16px;
  height: 17px;
  border: 1px solid;
  border: none;
  border-radius: none;
  background: url('/img/master-sprite.png') no-repeat;
  text-indent: -999999px;
}

af|commandButton.plus-green:hover,
af|commandButton.plus-green:disabled:hover  {
  background-position: -16px -18px;
}

af|commandButton.minus-red:hover  {
  background-position: 0 -18px;
}

af|commandButton.plus-green:active  {
  background-position: -16px -36px;
}

af|commandButton.minus-red:active  {
  background-position: 0 -36px;
}

/* App Icons */
.icon-word-app  {
  width: 22px;
  height: 22px;
  background: url('/img/master-sprite.png') no-repeat 0 -78px;
}

.icon-excel-app  {
  width: 22px;
  height: 22px;
  background: url('/img/master-sprite.png') no-repeat -24px -78px;
}

.icon-pdf-app  {
  width: 22px;
  height: 22px;
  background: url('/img/master-sprite.png') no-repeat -42px -78px;
}

.icon-vid-app  {
  width: 22px;
  height: 22px;
  background: url('/img/master-sprite.png') no-repeat -69px -78px;
}

.icon-doc-app  {
  width: 12px;
  height: 16px;
  background: url('/img/master-sprite.png') no-repeat -109px -78px;
}

.icon-trash-app  {
  width: 14px;
  height: 17px;
  background: url('/img/master-sprite.png') no-repeat -92px -78px;
}

/* Message Center */
.icon-sm-trash-app  {
  width: 10px;
  height: 11px;
  background: url('/img/master-sprite.png') no-repeat -160px -78px;
}

.icon-letter  {
  width: 13px;
  height: 9px;
  background: url('/img/master-sprite.png') no-repeat -126px -78px;
}

.icon-letter-open  {
  width: 14px;
  height: 14px;
  background: url('/img/master-sprite.png') no-repeat -143px -78px;
}

.icon-download  {
  width: 13px;
  height: 11px;
  background: url('/img/master-sprite.png') no-repeat -125px -90px;
}

.icon-attachment  {
  width: 7px;
  height: 16px;
  background: url('/img/master-sprite.png') no-repeat -142px -95px;
}

.icon-sort  {
  width: 16px;
  height: 11px;
  background: url('/img/master-sprite.png') no-repeat -154px -94px;
}

.arrow-right  {
  width: 14px;
  height: 14px;
  background: url('/img/master-sprite.png') no-repeat -15px -55px;
}

/* ~~~~~~ END ICONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* separators */
af|separator.topseparator  {
    width:550px;
    padding-bottom:10px;
}

af|separator.detailseparator  {
    width:550px;
}

/* separators */
/* showdetailheader main bar when closed*/
af|showDetailHeader.SHOPEmployeeRoster::title-table  {
    background-color:#D7D7D7;
    padding:10px 0px;
    width:550px;
}

/* showdetailheader main bar when closed*/
/* showdetailheader context facet text (i.e. Employee Information) when closed*/
af|showDetailHeader.SHOPEmployeeRoster::title-table
af|showDetailHeader::title0
af|showDetailHeader::context-container  {
   display:none; 
}

/* showdetailheader context facet text (i.e. Employee Information) when closed*/
/* showdetailheader context facet text (i.e. Employee Information) when open*/
af|showDetailHeader.SHOPEmployeeRoster::title-table:disclosed
af|showDetailHeader::title0
af|showDetailHeader::context-container  {
   display:inline; 
}

/* showdetailheader context facet text (i.e. Employee Information) when open*/
/* showdetailheader main text (i.e. emp info) when open*/
af|showDetailHeader.SHOPEmployeeRoster::title-table:disclosed 
af|showDetailHeader::title-text-cell  {
    display:none;
}

/* showdetailheader main text (i.e. emp info) when open*/
/* showdetailheader main bar when open*/
af|showDetailHeader.SHOPEmployeeRoster::title-table:disclosed  {
    background-color:white;
    padding:10px 0px;
    width:550px;
}

/* showdetailheader main bar when open*/
/* main detail content */
af|showDetailHeader.SHOPEmployeeRoster::content0  {
   width:540px; 
}

/* main detail content */
/* where the icons are set */
af|showDetailHeader.SHOPEmployeeRoster::disclosed-icon-style  {
    padding:2px;
    background-image: url(/img/minus.png);
    position:relative;
    left: 525px;
}

af|showDetailHeader.SHOPEmployeeRoster::undisclosed-icon-style  {
    padding:2px;
    background-image: url(/img/plus.png);
    position:relative;
    left: 525px;
}
/* where the icons are set */


af|panelGroupLayout.detailinfo  {
    background-color:white;
    padding: 10px;
}

/* ~~~~~~ END ENTER EMPLOYER INFO ~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~ START EE showDetailHeader ~~~~~~~~~~~~~~~~~~~~~ */

/* showdetailheader main bar when closed*/
af|showDetailHeader.EE-plan-detail::title-table  {
    background-color:#D7D7D7;
    padding:10px 0px;
    width:730px;
    background: -moz-linear-gradient(#ebecec, #D7D7D7);
    background: linear-gradient(#ebecec, #D7D7D7);
}

@agent webkit {
  af|showDetailHeader.EE-plan-detail::title-table  {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ebecec), to(#D7D7D7));
    background: -webkit-linear-gradient(#ebecec, #D7D7D7);
  }
}

/* showdetailheader main bar when closed*/
/* showdetailheader context facet text (i.e. Employee Information) when closed*/
af|showDetailHeader.EE-plan-detail::title-table
af|showDetailHeader::title0
af|showDetailHeader::context-container  {
   display:none; 
}

/* showdetailheader context facet text (i.e. Employee Information) when closed*/
/* showdetailheader context facet text (i.e. Employee Information) when open*/
af|showDetailHeader.EE-plan-detail::title-table:disclosed
af|showDetailHeader::title0
af|showDetailHeader::context-container  {
   display:inline;
}

/* showdetailheader context facet text (i.e. Employee Information) when open*/
/* showdetailheader main text (i.e. emp info) when open*/
af|showDetailHeader.EE-plan-detail::title-table:disclosed 
af|showDetailHeader::title-text-cell  {
    position:relative;
    margin-left:-30px;
}
af|showDetailHeader.EE-plan-detail::title-text-cell  {
    position:relative;
    margin-left:-30px;
}
/* showdetailheader main text (i.e. emp info) when open*/
/* showdetailheader main bar when open*/
af|showDetailHeader.EE-plan-detail::title-table:disclosed  {
    padding:10px 0px;
    width:730px;
}

/* showdetailheader main bar when open*/
/* main detail content */
af|showDetailHeader.EE-plan-detail::content0  {
   width:730px;
   padding: 0px;
}

/* main detail content */
/* where the icons are set */
af|showDetailHeader.EE-plan-detail::disclosed-icon-style  {
    padding:2px;
    background-image: url(/img/icons/icn-eeheader-minus.png);
    position:relative;
    left: 670px;
    width:43px;
    height:35px;
    cursor:pointer;
}

af|showDetailHeader.EE-plan-detail::undisclosed-icon-style  {
    padding:2px;
    background-image: url(/img/icons/icn-eeheader-plus.png);
    position:relative;
    left: 670px;
    width:43px;
    height:35px;
    cursor:pointer;
}
/* ~~~~~~ End EE showDetailHeader ~~~~~~~~~~~~~~~~~~~~~ */



af|commandLink.dash-link:hover  {
  text-decoration: none;
  text-transform: none;
  color: #fff;
  background: -moz-linear-gradient(#6e7e86, #7f8e96);
  background: linear-gradient(#6e7e86, #7f8e96);
}

@agent webkit {
   af|commandLink.dash-link:hover   {
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6e7e86), to(#7f8e96));
      background: -webkit-linear-gradient(#6e7e86, #7f8e96);
   }
}

@agent ie {
  af|commandLink.dash-link:hover  {
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6e7e86', endColorstr='#7f8e96')";
 }
}

@agent ie and (version: 7)  {
  af|commandLink.dash-link:hover   {
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#6e7e86', EndColorStr='#7f8e96');
 }
}

/* ~~~~~~ END RIGHT HELP PANEL FILE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~ BEGIN PROGRESS INDICATOR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
af|panelGroupLayout.progress-bar-container  {
  width: 300px;
  display: block;
  height: 25px;
  margin: 0 auto;
}

af|panelGroupLayout.progress-bar-container af|image  {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}

af|progressIndicator::content  {
  margin: 0;
  padding: 0;
  height: 25px;
  width: 276px;
  float: left;
  display: inline-block;
}

af|progressIndicator::determinate  {
  height: 25px;
  width: 276px;
}

af|progressIndicator::determinate-empty-icon-style  {
  background-image: url('/img/progress-bg.png');
  display: block;
}

af|progressIndicator::determinate-filled-icon-style  {
  background-image: url('/img/progress-on-bg.png');
  height: 25px;
}

.af_progressIndicator_determinate-start-label,.af_progressIndicator_determinate-end-label  {
  display: none;
}

/* ~~~~~~ END PROGRESS INDICATOR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~ BEGIN SELECT MANY CHECKBOX ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

af|selectManyCheckbox::label{
    color: #716F67;
}



